:root {
  --neutral-00: #FFF;
  --neutral-05: #F3F3F3;
  --neutral-10: #E7E7E8;
  --neutral-15: #DBDBDB;
  --neutral-20: #CFCFCF;
  --neutral-30: #B7B7B8;
  --neutral-40: #9F9F9F;
  --neutral-50: #868687;
  --neutral-60: #6E6E70;
  --neutral-70: #575758;
  --neutral-80: #3E3E40;
  --neutral-85: #323234;
  --neutral-90: #272728;
  --neutral-95: #1A1A1C;
  --neutral-100: #0E0E10;


	--primary-100: #614FE0;
	--secondary-20: #FFDAD1;
	--accent-10: #D7FAF4;
  --outline: #F2994A
}
