:root {
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-250: 0.75rem;
  --size-300: 1rem;
  --size-350: 1.5rem;
  --size-400: 2rem;
  --size-425: 2.5rem;
  --size-450: 3rem;
  --size-500: 4rem;
}
